.red, .green {
    position: absolute;
    width: 100px;
    color: white;
    line-height: 100px;
    text-align: center;
}

.red {
    z-index: 1;
    background: red;
}

.green {
    top: 200px;
    left: 60px;
    background: green;
}

.open {
    display: block;
}

.close {
    display: none;
}

/*seven*/
.tileimage {
    position: absolute;
    width: 100%;
    height:auto;
    color: white;
}

.tileseven img {
    position: absolute;
    width: 30%;
    height:auto;

}

.tileseven
{
    background:transparent;
    font-size: 30px;
}