.wrapper
{
    display:flex;
    flex-direction: row;
}



.box1{
    background-color: yellow;
}

.box2{
    background-color: #1b6d85;
}

.box3{
    background-color: #2e6da4;
}

.box4{
    background-color: #4cae4c;
}

.box  {
    flex:1;
    min-height:100vh;
    text-align: center;
    vertical-align: middle;
    border:10px solid;

}