.back
{
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHvElQPvE4mpefl9D6qy2BmBsD2UCbKdJbn2I1kkpFRaTDoLhb2g );
    background-size: cover;
    height:400px;
    padding:50px 0;
    transition:all 400ms cubic-bezier(0.25,0.1,0.25,1) 0s;
    -webkit-transition:all 400ms cubic-bezier(0.25,0.1,0.25,1) 0s;width:100%;
    background-position: center;
}